<!-- Contenedor relativo para posicionamiento absoluto -->
<div class="relative w-full h-full overflow-hidden">
  <app-room-pet></app-room-pet>

  <!-- Contenedor absoluto en la parte inferior -->
  <div class="absolute top-0 left-0 right-0 flex flex-col items-center pb-4 pointer-events-none">
    <!-- Stats bar con animacion de entrada/salida -->

    <app-stats-bar [isOpenStats]="isOpenStats"></app-stats-bar>

    <!-- Boton con pointer-events habilitado -->
    <button
      (click)="toggleStats()"
      class="bg-transparent border-none p-0 cursor-pointer mb-2 pointer-events-auto transition-transform hover:scale-110 active:scale-95 duration-200 opacity-40 hover:opacity-900"
    >
      <img
        src="/Mokito-web/assets/img/icon/UI/console/arrow.png"
        alt="boton-stats"
        class="w-16 h-9 mt-2 drop-shadow-lg clickable"
      />
    </button>
  </div>

  <app-inventory-modal></app-inventory-modal>

  <canvas #canvas id="pet-canvas" tabindex="0" class="w-full h-full z-30"> </canvas>
</div>
