#pet-canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

.background-pet {
  border: 32px solid transparent;
  border-image: url('/Mokito-web/assets/icon/UI/border.png') 32 fill round;
  image-rendering: pixelated;
  border-radius: 1em;
}
