@if (rooms) {
  <span class="flex sm:flex-col gap-3 items-center justify-around">
    <button
      (click)="roomChange(1)"
      class="sm:rotate-180 rotate-90 bg-transparent border-none p-0 cursor-pointer mb-2 pointer-events-auto transition-transform hover:scale-110 active:scale-95 duration-200 opacity-40 hover:opacity-900"
    >
      <img
        src="/Mokito-web/assets/img/icon/UI/console/arrow.png"
        alt="boton-stats"
        class="sm:w-16 sm:h-9 w-5 h-5 drop-shadow-lg clickable"
      />
    </button>
    <span class="text-xs sm:text-sm">{{ currentRoom().name }}</span>
    <button
      (click)="roomChange(-1)"
      class="sm:rotate-0 -rotate-90 bg-transparent border-none p-0 cursor-pointer mb-2 pointer-events-auto transition-transform hover:scale-110 active:scale-95 duration-200 opacity-40 hover:opacity-900"
    >
      <img
        src="/Mokito-web/assets/img/icon/UI/console/arrow.png"
        alt="boton-stats"
        class="sm:w-16 sm:h-9 w-5 h-5 drop-shadow-lg clickable"
      />
    </button>

    @if (currentRoom().buttonRoom) {
      <button
        class="pixel-box-s hover:scale-110 transition-transform duration-200 text-xs sm:text-sm"
        (click)="onRoomButtonClick(currentRoom())"
      >
        {{ currentRoom().buttonRoom?.name }}
      </button>
    }
  </span>
}
