<header
  class="text-[black] py-3 px-6 flex justify-between items-center cursor-auto sm:flex sm:flex-col gap-10"
>
  <h1 class="sm:text-2xl text-sm font-semibold select-none text-center console-name">
    Mokito <br />
    web
  </h1>

  <nav class="flex gap-4 items-center">
    <a
      href="#"
      class="hover:scale-110 transition-transform duration-200"
      (click)="toggleConfiguration($event)"
    >
      <img src="assets/icon/configuration.png" alt="Config" class="select-none sm:w-16 sm:h-16 clickable" />
    </a>
  </nav>
</header>

<!-- Solo renderiza el modal cuando se ha abierto al menos una vez -->
@if (isOpenConfiguration) {
  <app-configuration-modal
    [isOpenConfiguration]="isOpenConfiguration"
    (toggleConfiguration)="handleModalToggle($event)"
  >
  </app-configuration-modal>
}