@if (isOpenInventory) {
  <div
    class="absolute inset-0 bg-black/50 flex items-center justify-center z-30 p-4"
    (click)="closeInventory()"
    (keydown)="closeInventory()"
  >
    <div
      class="pixel-box overflow-y-auto bg-slate-800 text-white p-5 shadow-2xl w-150 max-w-[95%] max-h-full relative rounded-[10px]"
      (click)="$event.stopPropagation()"
    >
      

      <!-- Grid de items -->
      <div
        class="grid gap-2 mb-4"
        style="grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))"
      >
        @for (obj of filteredObjects(); track $index) {
          <button
            (click)="generateObject(obj); $event.stopPropagation()"
            class="flex flex-col items-center justify-center aspect-square cursor-pointer transition-transform duration-200 hover:scale-110 p-1"
            [title]="obj.name"
          >
            <img
              [src]="obj.sprite.img.src"
              alt="Object"
              class="w-14 h-14 sm:w-18 sm:h-18 lg:w-22 lg:h-22 object-contain"
              style="image-rendering: pixelated"
            />
            <p class="text-[0.7rem] sm:text-[1.1rem] truncate text-center mt-1 w-full">
              {{ obj.name }}
            </p>
          </button>
        }
      </div>
    </div>
  </div>
}
