@if(isOpenConfiguration){
<div
  class="fixed inset-0 bg-black/50 flex items-center justify-center z-50 p-4"
  (click)="close()"
  (keydown)="close()"
>
  <div
    class="bg-slate-800 text-white p-2 sm:p-6 shadow-xl w-full max-w-md sm:max-w-lg md:max-w-2xl max-h-[90dvh] overflow-y-auto pixel-box relative"
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
  >
    <!-- Boton X para cerrar -->
    <div
      class="flex justify-between sticky top-[-1.5em] z-10 bg-slate-800 px-2 sm:px-6 pt-2 sm:pt-0 p-1.5"
    >
      <h2>configuracion</h2>
      <button
        type="button"
        class="w-8 h-8 sm:w-10 sm:h-10 flex items-center justify-center rounded-lg bg-slate-700 hover:bg-slate-600 transition-colors group pixel-box-s"
        (click)="close()"
      >
        <img src="assets/icon/configuration/xmark.png" alt="x" />
      </button>
    </div>

    <!--Cambiar color -->
    <button
      type="button"
      class="w-full flex items-center justify-between p-3 sm:p-4 bg-slate-700 rounded-lg hover:bg-slate-600 transition-colors mb-1 pixel-box"
      (click)="toggleColorSection()"
    >
      <div class="flex items-center gap-3">
        <img src="assets/icon/configuration/color.png" alt="color" />
        <span class="text-sm sm:text-base font-medium">Cambiar color</span>
      </div>

      <svg
        class="w-5 h-5 transition-transform duration-300"
        [class.rotate-180]="isColorSectionOpen"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>

    <!-- Contenido desplegable Cambiar color -->
    <app-color-selector [isColorSectionOpen]="isColorSectionOpen"></app-color-selector>

    <!--Guardar mascota -->
    <button
      type="button"
      class="w-full flex items-center justify-between p-3 sm:p-4 bg-slate-700 rounded-lg hover:bg-slate-600 transition-colors mb-1 pixel-box"
      (click)="toggleSaveSection()"
    >
      <div class="flex items-center gap-3">
        <img src="assets/icon/configuration/data.png" alt="" />
        <span class="text-sm sm:text-base font-medium">Guardar mascota</span>
      </div>

      <svg
        class="w-5 h-5 transition-transform duration-300"
        [class.rotate-180]="isSaveSectionOpen"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>

    <!-- Contenido desplegable Guardar mascota -->
    <app-data-config [isSaveSectionOpen]="isSaveSectionOpen"></app-data-config>
    <!--  Trucos -->
    <button
      type="button"
      class="w-full flex items-center justify-between p-3 sm:p-4 bg-slate-700 rounded-lg hover:bg-slate-600 mb-1 transition-colors pixel-box"
      (click)="toggleCheatsSection()"
    >
      <div class="flex items-center gap-3">
        <img src="assets/icon/configuration/cheats.png" alt="" />
        <span class="text-sm sm:text-base font-medium">Trucos</span>
      </div>

      <svg
        class="w-5 h-5 transition-transform duration-300"
        [class.rotate-180]="isCheatsSectionOpen"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>

    <!-- Contenido desplegable Trucos -->
    <app-cheats [isCheatsSectionOpen]="isCheatsSectionOpen"></app-cheats>
  </div>
</div>
}
