<div
  class="overflow-hidden transition-all duration-300 ease-in-out mb-2"
  [class.max-h-0]="!isCheatsSectionOpen"
  [class.max-h-[500px]]="isCheatsSectionOpen"
  [class.opacity-0]="!isCheatsSectionOpen"
  [class.opacity-100]="isCheatsSectionOpen"
>
  <div class="mb-3 p-4 bg-slate-700/50 rounded-lg text-center pixel-box-s">
    <ul class="flex flex-col gap-1.5">
      <!-- Modo Dios -->
      <li class="flex items-center justify-between gap-4 p-2 rounded-md bg-slate-800/60">
        <label for="godMode" class="text-sm sm:text-base text-slate-200"> Modo dios </label>
        <input
          id="godMode"
          type="checkbox"
          class="w-5 h-5 accent-sky-400"
          [checked]="getGodMode()"
          (change)="setGodMode($event)"
        />
      </li>

      <!-- Bloquear movimiento -->
      <li class="flex items-center justify-between gap-4 p-2 rounded-md bg-slate-800/60">
        <label for="noMoreMove" class="text-sm sm:text-base text-slate-200">
          Bloquear movimiento
        </label>
        <input
          id="noMoreMove"
          type="checkbox"
          class="w-5 h-5 accent-emerald-400"
          [checked]="getNoMoreMove()"
          (change)="setNoMoreMove($event)"
        />
      </li>

      <!-- Manipular estadisticas -->
      <li class="flex flex-col gap-4 p-2 rounded-md bg-slate-800/60">
        <div class="flex items-center justify-between">
          <label for="manipulateStats" class="text-sm sm:text-base text-slate-200">
            Manipular las estadisticas
          </label>
        </div>

        <!-- Sliders -->
        <div class="flex flex-col justify-center gap-2">
          @for (stat of stats; track $index) {
          <div class="flex flex-row items-center gap-1">
            <img
              [src]="'/Mokito-web/assets/icon/stats/' + stat.name + '.png'"
              [alt]="stat.name"
              class="sm:w-10 sm:h-10 w-5 h-5 object-contain"
            />
            <input
              type="range"
              min="0"
              max="100"
              [value]="roundStat(stat.porcent)"
              class="pixel-slider pixel-box-s"
              (input)="onStatChange(stat.name, $event)"
            />

            <span class="text-sm font-medium w-6">{{ roundStat(stat.porcent) }}%</span>
          </div>
          }
        </div>
      </li>
    </ul>
  </div>
</div>
