<div class="flex w-full h-dvh items-center justify-center">
  <!-- Carcasa -->
  <div class="console-body w-[95%] h-[95dvh] z-1">
    <!-- Dentro de la consola -->
    <div class="console-frame sm:flex w-full h-full p-4">
      <div>
        <app-header class="sm:w-[20%] w-full"></app-header>
        <app-room-button class="sm:block hidden"></app-room-button>
      </div>
      <!-- contenido de la pet o del inicio -->
      <app-console-frame class="flex flex-1 flex-col justify-center gap-3 sm:h-full h-[80%]"></app-console-frame>
      <div class="sm:hidden mt-2">
        <app-room-button></app-room-button>
      </div>
    </div>
  </div>
</div>
