<!-- Pantalla de carga -->
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black transition-opacity duration-300"
  [class.opacity-0]="!isLoading"
  [class.pointer-events-none]="!isLoading"
>
  <div class="flex flex-col items-center gap-4">
    <!-- Spinner -->
    <div class="w-12 h-12 border-4 border-white border-t-transparent rounded-full animate-spin"></div>

    <!-- Texto -->
    <p class="text-white text-sm tracking-wide">Cargando...</p>
  </div>
</div>

<!-- Tu layout -->
<div class="flex w-full h-dvh items-center justify-center">
  <!-- Carcasa -->
  <div class="console-body w-[95%] h-[95dvh] z-1">
    <div class="console-frame sm:flex w-full h-full p-4">
      <div>
        <app-header class="sm:w-[20%] w-full"></app-header>
        <app-room-button class="sm:block hidden"></app-room-button>
      </div>

      <app-console-frame class="flex flex-1 flex-col justify-center gap-3 sm:h-full h-[80%]"></app-console-frame>

      <div class="sm:hidden mt-2">
        <app-room-button></app-room-button>
      </div>
    </div>
  </div>
</div>