:root {
  --console-frame: url('/Mokito-web/assets/icon/UI/console/purple/frame-console.png');
  --screen-frame: url('/Mokito-web/assets/icon/UI/console/purple/frame-pet.png');
}

@font-face {
  font-family: 'upheavtt';
  src: url('/Mokito-web/assets/fonts/upheavtt.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  cursor: url("/Mokito-web/assets/cursor/cursor.png") 16 16, auto;
  box-sizing: border-box;
  user-select: none;
}

button,
a,
[role="button"],
select,
option,
input[type="button"],
input[type="submit"],
.clickable {
  cursor: url("/Mokito-web/assets/cursor/cursor-pointer.png") 16 16, pointer !important;
}

.draggable,
[draggable="true"] {
  cursor: url("/Mokito-web/assets/cursor/cursor-grab.png") 16 16, grab !important;
}


body,
html {
  font-family: 'upheavtt', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

img {
  image-rendering: pixelated;
  /* por compatibilidad con algunos navegadores */
  image-rendering: crisp-edges;
}

// Cajita
.pixel-box {
  border: 20px solid transparent;
  border-image: url('/Mokito-web/assets/icon/UI/border.png') 6 fill round;
  image-rendering: pixelated;
  border-radius: 1em;
}

.pixel-box-s {
  border: 8px solid transparent;
  border-image: url('/Mokito-web/assets/icon/UI/border-s.png') 6 fill round;
  image-rendering: pixelated;
  border-radius: 0.5em;
}

// Scroll
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: #000000;
}

/* Pista del scroll (track) */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border: 2px solid #000;
  box-shadow: inset 0 0 0 3px #2d2d2d;
}

/* Thumb la parte que se mueve */
::-webkit-scrollbar-thumb {
  background: #155dfc;
  border: 3px solid #1e1e1e;
  box-shadow: inset 0 0 0 3px rgb(19, 59, 105);
}

/* Hover mas brillante */
::-webkit-scrollbar-thumb:hover {
  background: #296dff;
  box-shadow: inset 0 0 0 3px rgb(59, 110, 163);
}


/*Seccion del cuerpo de la consola*/
.console-body {
  border: 16px solid black;
  border-image: var(--console-frame) 16 fill round;
  image-rendering: pixelated;
}

.console-screen {
  border: 24px solid black;
  border-image: var(--screen-frame) 16 fill round;
  border-radius: 7em;
  image-rendering: pixelated;
}

.console-name {
  border: 16px solid black;
  border-image: url('/Mokito-web/assets/icon/UI/console/console-name.png') 16 fill round;
  image-rendering: pixelated;
}

@media (max-width: 640px) {
  .console-body {
    border: 16px solid black;
    border-radius: 0.5em;
    border-image: var(--console-frame) 16 fill round;
    image-rendering: pixelated;
  }

  .console-screen {
    border: 16px solid black;
    border-radius: 1em;
    border-image: var(--screen-frame) 16 fill round;
    image-rendering: pixelated;
  }

  .console-name {
    border: 8px solid black;
    border-image: url('/Mokito-web/assets/icon/UI/console/console-name.png') 16 fill round;
    image-rendering: pixelated;
  }
}